[Unit]
Description=Tone generator daemon for call progress indication and DTMF
Requires=dbus.socket sound.target

[Service]
ExecStart=/usr/bin/tonegend -b 100 -r 20 --volume-dtmf 50
Restart=always
