Source: tone-generator
Priority: optional
Maintainer: Janos Kovacs <janos.f.kovacs@nokia.com>
Build-Depends: debhelper (>= 5.0.0), cdbs, autotools-dev, check, libglib2.0-dev, libpulse-dev, libdbus-1-dev, libdbus-glib-1-dev
Standards-Version: 3.8.0
Section: sound

Package: tone-generator
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, dbus
Description: tonegend
 tone generator daemon for call progress indication and DTMF

Package: tone-generator-dbg
Section: devel
Priority: extra
Architecture: any
Depends: tone-generator (= ${binary:Version})
Description: tonegend
 tone generator daemon for call progress indication and DTMF
