#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-Wl,-z,defs,--as-needed"
DEB_MAKE_BUILD_TARGET = all #doc
DEB_DH_INSTALL_SOURCEDIR = debian/tmp

DEB_DH_STRIP_ARGS = --dbg-package=tone-generator-dbg

makebuilddir:: stamp-autogen

stamp-autogen:
	./autogen.sh
	touch $@

clean::
	rm -f stamp-autogen configure aclocal.m4
	find -name Makefile.in -exec rm -f '{}' ';'

install/tonegend::
	install -d $(CURDIR)/debian/tmp/etc/init.d
	install -d $(CURDIR)/debian/tmp/etc/dbus-1/system.d
	install -d $(CURDIR)/debian/tmp/usr/bin
	install -m 755 $(CURDIR)/src/tonegend $(CURDIR)/debian/tmp/usr/bin/tonegend
	install -m 755 $(CURDIR)/debian/tonegend-init.d $(CURDIR)/debian/tmp/etc/init.d/tone-generator
	install -m 644 $(CURDIR)/debian/tonegend-dbus.conf $(CURDIR)/debian/tmp/etc/dbus-1/system.d/tone-generator.conf

